*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    display: flex;
    background-image: url('https://wpr-public.s3.amazonaws.com/ttbook/styles/story_full_image/s3/images/64-Red-Room-Empty.jpg?itok=37przzED');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#info div {
    padding: 3rem;
    background: rgb(100, 0, 50);
    margin: 0.5rem;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}